@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
:root{
    /* === Primary Colors text === */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    /* === Primary Colors gradient === */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    /* === Neutral Colors text === */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --White: hsl(0, 0%, 100%);
    /* === Neutral Colors divider === */
    --Light-grayish-blue: hsl(240, 5%, 91%);
    /* === Fonts === */
    --main-font: 'Kumbh Sans';
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--Very-dark-desaturated-blue);
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    background-repeat: no-repeat;
    font-family: var(--main-font), 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 148px 24px 85px 24px;
    width: 100%;
    min-height: 100vh;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 132px 24px 48px 24px;
    width: 100%;
    height: fit-content;
    max-width: 920px;
    background-color: var(--White);
    border-radius: 23px;
}
.card::before{
    content: '';
    position: absolute;
    top: -108px;
    left: 0;
    right: 0;
    width: 100%;
    height: 212px;
    background-image: url('./images/illustration-woman-online-mobile.svg'), url('./images/bg-pattern-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: auto 180px, 240px auto;
    background-position: top center, top 108px center;
}
.card--header{
    width: 100%;
}
.card--title{
    margin: 0 0 30px 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.card--content{
    width: 100%;
    max-width: 350px;
}
.question{
    margin: 18px 0px;
    padding-right: 16px;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}
.question:first-of-type{
    margin-top: 0;
}
.question--title{
    display: flex;
    justify-content: space-between;
    width: calc(100% + 12px);
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    color: var(--Very-dark-grayish-blue);
    list-style: none;
}
.question--title:hover{
    cursor: pointer;
    color: var(--Soft-red);
}
.question--title::after{
    content: ' ';
    width: 13px;
    height: 13px;
    background-image: url('./images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.question[open] > .question--title {
    margin-bottom: 12px;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}
.question[open] > .question--title::after{
    transform-origin: center;
    transform: rotateX(180deg);
}
.divider{
    background-color: var(--Light-grayish-blue);
    border: none;
    height: 1px;
}
/* FOOTER */
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: var(--White);
}
.footer--link{
    color: var(--White);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.7px;
}
@media(min-width: 1024px){
    main{
        padding: 130px 24px;
        align-items: center;
    }
    .card{
        padding: 65px 95px 82px 475px;
        width: 100%;
        height: fit-content;
        max-width: 920px;
        background-color: var(--White);
        border-radius: 23px;
    }
    .card::before{
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(100% - 445px);
        height: 100%;
        background-image: url('./images/illustration-woman-online-desktop.svg'), url('./images/bg-pattern-desktop.svg');
        background-repeat: no-repeat, no-repeat;
        background-size: 472px auto, 964px auto;
        background-position: top 71px left -84px, top -294px left -576px;
    }
    .card::after{
        content: '';
        position: absolute;
        top: 0;
        left: -48px;
        bottom: 0;
        width: calc(100% - 445px);
        height: 100%;
        background-image: url('./images/illustration-box-desktop.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left -45px top 206px;
    }
    .card--title{
        margin: 0 0 35px 0;
        text-align: left;
    }
    .question{
        margin: 16px 0px;
    }
    .question--title{
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }
    
}